.page[b-t12f2okm5c] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-t12f2okm5c] {
    flex: 1;
}

.sidebar[b-t12f2okm5c] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-t12f2okm5c] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t12f2okm5c]  a, .top-row .btn-link[b-t12f2okm5c] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-t12f2okm5c] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-t12f2okm5c] {
        display: none;
    }

    .top-row.auth[b-t12f2okm5c] {
        justify-content: space-between;
    }

    .top-row a[b-t12f2okm5c], .top-row .btn-link[b-t12f2okm5c] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t12f2okm5c] {
        flex-direction: row;
    }

    .sidebar[b-t12f2okm5c] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-t12f2okm5c] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-t12f2okm5c] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


.docs-search-bar> .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text[b-t12f2okm5c] {
   margin-top: 0
}

.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text[b-t12f2okm5c] {
    margin-top: 0 !important;
}

.test[b-t12f2okm5c] {
    width: 30%;
    background-color: rgba(255,255,255,.15);
    border-radius: 5px;
    position: relative;
    height: 40px;
    padding: 0 10px
}
